# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Static files
staticfiles/

# Logs
*.log